html[normal_video='true'] #player-container-outer {
	visibility: visible !important;
}

html[normal_video='true'] yt-playability-error-supported-renderers {
	display: none !important;
}

html[normal_video='true'] ytd-enforcement-message-view-model {
	display: none !important;
}

html[normal_video='true'] .html5-video-player {
	display: none !important;
}